* {
    font-family: 'Roboto';
}

label:has(+ input:required):after {
    content: ' *';
    color: red;
}

label:has(+ select:required):after {
    content: ' *';
    color: red;
}

.required-field {
    color: red;
    margin-left: 0.3vw;
}

ion-icon.icon-usuario {
    font-size: 1.7rem;
}

ion-icon.icon-notific {
    font-size: 1.4rem;
}

ion-icon.icon-nome-usuario,
ion-icon.icon-senha {
    font-size: 1.5rem;
}

.login-background {
    background-image: url('/img/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-texto span {
    text-shadow: 0.09vw 0.09vw 0.09vw rgba(0, 0, 0, 0.793);
}

.login-texto p {
    color: hsl(217, 10%, 50.8%);
}

.circle-logo-login {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 2.3rem;
}

.circle-logo-painel {
    width: 2.68rem;
    height: 2.68rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: 0.8rem;
    justify-content: center;
    font-size: 1.9rem;
}

.dropdown-item:hover .nav-link {
    color: #007bff !important;
}

.dropdown-item:focus,
.dropdown-item.active {
    background-color: transparent;
    color: #007bff !important;
}

.nav-item {
    margin-left: 1.3rem;
    text-align: center;
}

.nav-item .nav-link {
    display: inline-block;
}

.navbar-nav .nav-item.active .nav-link {
    border-bottom: 0.2rem solid #007bff;
    padding-bottom: 0.3rem;
    width: fit-content;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #e9e9e9;
    color: #007bff !important;
}

@media (max-width: 575px) {
    .dropdown-menu-sm-only {
        background-color: #f8f9fa !important;
        border: none !important;
    }

    .dropdown-menu-sm-only a.dropdown-item {
        color: #007bff !important;
    }
}

.border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a !important;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
    border-left: 0.25rem solid #dc3545 !important;
}

.chart-bar {
    position: relative;
    height: 10rem;
    width: 100%;
}

@media (min-width: 768px) {
    .chart-bar {
        height: 13rem;
    }
}

.chart-pie {
    position: relative;
    height: 15rem;
    width: 100%;
}

@media (min-width: 768px) {
    .chart-pie {
        height: calc(15.7rem - 43px) !important;
    }
}

.chart-area {
    position: relative;
    height: 15rem;
    width: 100%;
}

@media (min-width: 768px) {
    .chart-area {
        height: 13rem;
    }
}

.hscroll {
    overflow-x: auto;
}

.font-nome-agenda {
    font-size: 1.11rem;
}

.font-bullet {
    font-size: 0.75rem;
}

.font-resumo {
    font-size: 0.97rem;
}

.font-infos {
    font-size: 1.10rem;
}

.font-atendimento {
    font-size: 0.99rem;
}

#calendario-agenda {
    margin-top: 0.7rem;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
    padding: 0.47rem;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td.active.disabled,
.bootstrap-datetimepicker-widget table td.active.disabled:hover {
    background-color: #4e73df !important;
}

.bootstrap-datetimepicker-widget table td span {
    color: #333;
}

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
    color: #ccc;
}

.bootstrap-datetimepicker-widget table td.new,
.bootstrap-datetimepicker-widget table td.old {
    color: #ccc;
}

.bootstrap-datetimepicker-widget thead th {
    text-transform: capitalize;
}

.fc .fc-button-primary {
    color: #333;
    background-color: #f8f9fa !important;
    border-color: #ccc !important;
}

.fc .fc-button-primary:hover {
    background-color: #4e73df !important;
    border-color: #ccc !important;
}

.fc .fc-button-primary.fc-button-active {
    background-color: #4e73df !important;
    border-color: #4e73df !important;
    color: #fff;
}

:root {
    --fc-today-bg-color: #ededed;
    --fc-event-text-color: #333;
}

.fc .fc-col-header-cell-cushion {
    color: #333333;
    text-transform: capitalize;
    font-weight: normal;
}

.today-header {
    background-color: #4e73df !important;
}

.today-header .fc-col-header-cell-cushion {
    color: #fff;
}

.fc-event {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 0.88rem !important;
    text-align: center !important;
    margin-top: 1.9rem !important;
}

#anamneseEditor,
#anamneseDetalhesEditor,
#anamneseEditarEditor {
    height: 14vw;
}

#diagnosticoEditor,
#diagnosticoDetalhesEditor,
#diagnosticoEditarEditor {
    height: 10vw;
}

#prescricoesEditor,
#prescricoesDetalhesEditor,
#prescricoesEditarEditor {
    height: 14vw;
}

#examesEditor,
#examesDetalhesEditor,
#examesEditarEditor {
    height: 14vw;
}

#atestadosEditor,
#atestadosDetalhesEditor,
#atestadosEditarEditor {
    height: 14vw;
}

.cursor {
    cursor: pointer;
}

.tooltip-inner {
    background-color: #dddddd !important;
    color: #000000 !important;
    max-width: 25vw !important;
    text-align: left;
}

.tooltip-arrow::before {
    border-top-color: #dddddd !important;
    border-bottom-color: #dddddd !important;
}

.avatar-md {
    height: 5rem;
    width: 5rem;
}

.badge-soft-danger {
    color: #f56e6e !important;
    background-color: rgba(245, 110, 110, .1);
    font-size: 0.9rem !important;
}

.badge-soft-success {
    color: #63ad6f !important;
    background-color: rgba(99, 173, 111, .1);
    font-size: 0.9rem !important;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.75rem;
}

.day-row {
    margin-bottom: 10px;
}

.day-row .form-check {
    width: 27.84%;
}

.day-row .time-container {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
}

.input-group .form-control {
    flex: 1;
}

.input-group-text {
    width: auto;
}

@media (max-width: 576px) {

    .day-row .form-check,
    .day-row .time-container {
        width: 100%;
        margin-bottom: 5px;
    }

    .day-row {
        display: flex;
        flex-wrap: wrap;
    }
}